# yamllint disable rule:line-length

name: YAML Validation

on:
  pull_request:
  push:
    branches:
      - master
      - main

jobs:
  validate-yaml:
    name: Validate YAML
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run YAMLlint
        run: |
          find .github/ -type f -name \*.y?ml | xargs yamllint
